<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <servlet-class>Login.LoginSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbConnect</servlet-name>
        <servlet-class>Login.DbConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Login.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupSuccess</servlet-name>
        <servlet-class>Login.SignupSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConnect</servlet-name>
        <servlet-class>Login.LoginConnect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/LoginSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbConnect</servlet-name>
        <url-pattern>/DbConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupSuccess</servlet-name>
        <url-pattern>/SignupSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConnect</servlet-name>
        <url-pattern>/LoginConnect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
